* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body nav {
  background-color: #fff;
}
body nav ul {
  display: flex;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease;
}
body nav ul li a:hover {
  color: rgb(54, 212, 138);
}
body main section.main-area {
  min-height: 70vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main section.main-area div.info {
  flex-basis: 650px;
  padding: 1rem;
  margin-right: 2rem;
}
body main section.main-area div.info h1 {
  font-size: 3.5rem;
}
body main section.main-area div.info h2 {
  font-size: 1rem;
}
body main section.main-area div.info a {
  display: inline-block;
  margin-top: 1rem;
  color: #fff;
  background-color: rgb(54, 212, 138);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.2s ease;
}
body main section.main-area div.info a:hover {
  transform: scale(1.2);
}
body main section.main-area div.img-area {
  flex-basis: 450px;
}
body main section.main-area div.img-area img {
  width: 80%;
}
body main section.about-me {
  background-color: rgba(171, 250, 171, 0.8);
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
body main section.about-me section.description {
  width: 50%;
}
body main section.about-me div.progress-bar-area p {
  margin-bottom: 0;
}
body main section.about-me div.progress-bar-area div.progress {
  margin-bottom: 1rem;
}
body main section.resume {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
body main section.resume section.table {
  flex: 5 1 500px;
  padding: 2rem;
}
body main section.resume section.table table {
  --bs-table-bg: none;
  border-collapse: collapse;
}
body main section.resume section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
body main section.resume section.table table tr:hover {
  background-color: rgb(54, 212, 138);
}
body main section.resume section.table table tr td {
  padding: 1rem;
}
body main section.resume section.picture {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 2rem;
  position: relative;
}
body main section.resume section.picture img {
  width: 70%;
}
body main section.resume section.picture div.greenRect {
  width: 25vw;
  height: 70vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 2rem;
  left: 8rem;
  z-index: -1;
}
body main section.resume section.picture div.greenRect2 {
  width: 50vw;
  height: 20vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 8rem;
  right: 1rem;
  z-index: -1;
}
body main section.resume section.picture div.greenRect3 {
  width: 25vw;
  height: 50vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 8rem;
  left: 8rem;
  transform: rotate(0.8turn);
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
